---
const today = new Date();
---

<footer>
  <div class="container">
    <p>&copy; {today.getFullYear()} Wang Yulun</p>
  </div>
</footer>

<style>
  footer {
    padding: 2rem 0 3rem;
  }
  footer .container {
    display: flex;
    justify-content: center;
  }
  footer p {
    margin: 0;
    font-size: 0.8rem;
    color: var(--text-dim);
  }
</style>
